@import url("https://fonts.google.com/specimen/Prata");
@import url("https://fonts.google.com/specimen/Inter");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: black;
    color: white;

    display: flex;
    flex-direction: column;
}

h1{
    font-family: 'Parta';
    font-size: 5rem;
    font-weight: 300;
    margin: 2rem 0;
}

h2{
    font-family: 'Parta';
    font-size: 3.5rem;
    font-weight: lighter;
    margin: 2rem 0;
}

p{
    font-family: 'Parta';
    font-size: 2rem;
    color: grey;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0 8rem;
}

li{
    display: flex;
}

.btn{
    color: black;
    background-color: #f7e32a;

    font-family: 'Parta';
    font-size: 1.2rem;
    font-weight: 300;

    border: none;

    padding: 1rem 1.9rem;

    cursor: pointer;
}


header{
    width: 100%;
    padding: 5rem 5rem;

    display: flex;
    justify-content: space-between;
}

 
header nav{
    display: flex;
}


.navName{
    font-family: "Parta";
    font-size: 2.2rem;
    font-weight: lighter;

    margin: auto 0;
}


header nav a{
    position: relative;
    font-size: 1.2rem;
    margin-left: 3rem;  
}

nav a{
    color: grey;
    transition: all .2s ease-in-out;
}

nav a:hover{
    width: 100%;
}

nav a::after{
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    bottom: -3px;
    height: 2px;
    background-color: #f8f32b;
    transition: all .2s ease-in-out;
}

nav a:hover::after{
    width: 100%
}

header, 
main{
    width:100%;
}


/* @media screen and (max-width: 1800px){
    header,
    main{
        width: 100%;
        margin: 5rem 0;
    }
} */

main{
   padding: 0 5rem;
   margin: 2rem 0;
   
   display: flex;
   justify-content: space-between; 
}

.container{
    display: flex;
    align-items: center;

    width: 100%;
}


.content{
    width: 60%;
}


.content > p, .site > p {
    max-width: 800px;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1rem;
}



@media (max-width: 1600px){
    .content{
        width: 100%;
    }
}


.twist{
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;

    margin: 5rem 5rem;
    gap: 6rem;
}


.sites{
    display: flex;
    text-align: left; 
    justify-content: space-between;
    flex-wrap: wrap; 

    margin: 3rem 5rem;
}

.sites .site img{
    text-align: center;
}


.site{
    display: flex;
    flex-direction: column;
}

@media (max-width: 1600px){
    .sites{
        justify-content: space-evenly;
    }
}


.greyContainer{
    width: 100%;
    display: flex;
    background-color: #2C2F32;
}

.textColumn{
    column-count: 2;
    margin: 5rem 5rem;
}

@media (max-width: 1600px){
    .textColumn{
        column-count: 1;
    }
}

.containerInteres{
    margin: 5rem 5rem;
}

.contentInteres{
    width:45%;
    margin: 3rem 0;
}

@media (max-width: 1600px){
    .contentInteres{
        width: 100%;
    }
}

footer{
    display: flex;
    background-color: #2C2F32;
}


.containerFooter{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 2rem 5rem;
}

.contacts{
    display: flex;
    text-align: center;

    gap: 1rem;
}

